.App {
  text-align: center;
}
.Login {
  display: flex;
}

.Login p {
  margin: 0 15px;
}

button {
  padding: 5px 20px;
  cursor: pointer;
}

button.logout {
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px;
}
#route-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.card {
  border-color: white;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  min-width: 400px;
}

.title {
  font-weight: bold;
  font-size: 16px;
}

.content {
  font-size: 16px;
}

.content-top {
  font-size: 16px;
  padding-bottom: 5px;
}
